PORT = 8989
ENVIRONMENT = 'development'
MONGO_URI = ""
MONGO_URI_LOCAL = "mongodb://localhost:27017/Tryve_db"
JWT_SECRET = ''
SECRET_STRING = 'hackanddie'
GOOGLE_CLIENT_ID = ''
GOOGLE_CLIENT_SECRET = ''
FACEBOOK_CLIENT_ID = ''
FACEBOOK_CLIENT_SECRET = ''
CLIENT_SIDE_URL = ''
PAYSTACK_SECRET_KEY = ''
PAYSTACK_PUBLIC_KEY = ''
ACCEPTED_URL = ["http://localhost:3000/"]